h1 {
    text-align: center
}

.pin-pic {
    max-height: 200px;
    min-height: 200px;
    max-width: 250px;
}

.img-responsive {
  margin: 0;
}

.pin-panel {
    max-height: 300px;
    min-height: 300px;
}

