<h1>{{title}}</h1>
  <form>
    <div class="form-group">
      <label>Pin Caption</label>
      <input type="text" class="form-control" placeholder="Harvesting coffee beans!" ng-model="newPin.caption"/>
    </div>
    <div class="form-group">
      <label>Pin Key Words (used for search)</label>
      <input type="text" class="form-control" placeholder="thailand coffee farming harvesting" ng-model="newPin.keyWords"/>
    </div>
    <button class="btn btn-default" ng-click="addNewPin()">{{btnText}}</button>
  </form>
