<h1>One Board</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>{{board.name}}</h3>
      <h4>{{board.description}}<h4>
      <div ng-repeat="pins in pins">
        <div class="col-md-3 col-md-offset-1">
        <p>{{pin.image}}</p>
        <p>{{pin.caption}}</p>
        <button ng-click="deletePin(pin.id)">Delete Pin</button>
      </div>
      <button ng-click="deleteBoard(board.id)">Delete Board</button>
    </div>
  </div>
</div>
