     <h1>Radical Pins</h1>
         <!--  <div class="row"> -->
          <div class ="panel panel-primary col-md-3" ng-repeat="pin in pins">
              <div class="panel-body">
                <div><a ng-href="/{{pin.id}}">{{pin.keyWords}}</a></div>
                <img class="pin-pic" src= "{{pin.photo}}">
                <div>{{pin.caption}}</div>
                <div>
               <!--  <button class="btn btn-danger" ng-click="deletePin(pin.id)">X</button> -->
               <button class="btn btn-success">Save This Pin!</button>

               </div>
              </div>
          <!--   </div> -->
          </div>


<!--

<div class="panel panel-primary col-md-4 movie-card">
  <div class="panel-heading">
    <h3>{{title}}</h3>
  </div>
  <div class="panel-body">
    <h4>{{year}}</h4>
    <img class="movie-card-image" src="{{posterURL}}">
  <div class="panel-footer">
    <button type="button" class="saveButton btn btn-primary">Save This Movie</button>
  </div>
</div>
 -->
